@{
    List<Product> Products = (List<Product>)ViewData["Products"];
}

@section Scripts
{
    <script src="~/js/Add.js"></script>
}

<div>
    @using (Html.BeginForm("Index", "Gallery", FormMethod.Get))
    {
        <input type="text" class="form-control-from" name="searchString" style="width: 20%; display:inline; margin-left: calc(2% + 1%)">
        <input type="submit" class="button" style="display:inline;" value="Search">
    }
</div>

<table id="mainframe">
    @for (int i = 0; i < Products.Count; i += 3)
    {
        int j;

        <tr>
            @for (j = 0; j < 3 && i + j < Products.Count; j++)
            {
                <td class="listing">
                    <img class="image" src=@Products[i + j].Url />
                    <div id="pdt-name">@Products[i + j].Name</div>
                    <div id="pdt-descr">@Products[i + j].Description</div>
                    <input type="button" class="button add_button" photo_id=@Products[i + j].ProductId value="$@Products[i + j].Price - Add To Cart">
                </td>
            }

            @for (; j < 3; j++)
            {
                <td class="td-filler"></td>
            }
        </tr>
    }
</table>