<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>> hq_pkgs</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <a class="navbar-brand" asp-controller="Gallery" asp-action="Index">> hq_pkgs</a>
            <div class="navbar-collapse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Product" asp-action="ListProducts">Products</a>
                    </li>
                </ul>

                <ul class="navbar-nav flex-grow-1" style="float:right">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="PurchaseHistory" asp-action="ListPurchaseHistory">My Purchases</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-dark emphasize">Hi, @ViewData["Username"]</a>
                    </li>

                    @if (ViewData["sessionId"] == null)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Session" asp-action="Login">Login</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Session" asp-action="Logout">Logout</a>
                        </li>
                    }


                </ul>

                <span style="float:right">
                    <a href="/Cart/ListCartItems"><img src="~/img/cart.png" style="height:25px"></a>
                    <span id="cartNumber" class="badge" size="1"></span>
                </span>
            </div>
        </nav>
    </header>

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        @RenderSection("Scripts", required: false)
</body>
</html>
